# Pandas Review using a Pokemon Dataset

In [134]:
import pandas as pd

df = pd.read_csv('https://gist.githubusercontent.com/armgilles/\
194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv')

### Practice Exercises

#### 1. Obtain the following information:
    
    - dimensions
    - dtypes
    - column names
    - summary statistics

In [135]:
# df.info()
print(df.info())# This will give you the dimension (How many columsn and rows the table has), column name, dtype per colomn. 
# df.describe()
print(df.describe()) # This will give you count, mean, std, min, 25%, 50%, 75%, max
# df.shape
print(f'\nDimension\n', df.shape) # This will give you (columns, rows)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB
None
                #      Total          HP      Attack     Defense     Sp. Atk  \
count  800.000000  800.00000  800.000000  800.000000  800.000000  800.000000
mean   362.813750  435.10250   69.258750   79.001250   73.842500   72.820000
std    208.343798  119.96304   25.534669   32.457366   31.183501   32.722294
min      1.000000  180.00000    1.000000    5.000000    5.000000   10.000000
25%    184.750000  330.00000   50.000000   55.000000   50.000000   49.750000
50%    364.500000  450.00000   65.000000   75.000000   70.000000   65.000000
75%    539.250000  515.00000   80.000000  100.000000   90.000000   95.000000
max    721.000000  780.00000  255.000000  190.000000  230.000000  194.000000

          Sp. Def       Speed  Generation
count  800.000000  800.000000   800.00000
mean    71.902500   68.277500     3.32375
std     27.828916   29.060474     1.66129
min     20.000000    5.000000     1.00000
25%     50.000000   45.000000     2.00000
50%     70.000000   65.000000     3.00000
75%     90.000000   90.000000     5.00000
max    230.000000  180.000000     6.00000

Dimension
 (800, 13)

#### 2. Change all the column names
      - lowercase letters
      - remove whitespace
      - remove periods

In [136]:
df
print(type([df]))

# dir(df)
# for attribute in dir(df):
#     print(f'\n\n{attribute}')
#     help(getattr(df, attribute))
print(f' Column name')
# This line allows you to put the names in the columns all in lowercase. 
df_columns_lowercase = df.columns.str.lower() 
print(f'\n- lowercase letters:\n',df_columns_lowercase)

# This line allows you to remove the whitespace in between the words
df_columns_rem_whitespace = df.columns.str.replace(' ','')
print(f'\n- remove whitespace:\n',df_columns_rem_whitespace)


# This line allows you to remove the periods between the words
df_columns_rem_periods = df.columns.str.replace('.','', regex=True)
print(f'\n- remove periods:\n',df_columns_rem_periods)

# Here is a second option on how to remove the period.
df.columns = [col.replace('.', '') for col in df.columns]
df_rem_periods = df.columns
print(f'\n- remove periods options 2:\n',df_rem_periods)

<class 'list'>
 Column name

- lowercase letters:
 Index(['#', 'name', 'type 1', 'type 2', 'total', 'hp', 'attack', 'defense',
       'sp. atk', 'sp. def', 'speed', 'generation', 'legendary'],
      dtype='object')

- remove whitespace:
 Index(['#', 'Name', 'Type1', 'Type2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp.Atk', 'Sp.Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

- remove periods:
 Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp Atk', 'Sp Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

- remove periods options 2:
 Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp Atk', 'Sp Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

#### 3. What is the highest HP value present?

In [241]:
print('***************Option 1*********************\n')
# This options is very striaght forward. 
# This code finds the maximum value of the HP column in the df DataFrame.
# It uses the max() function to find the highest value.
df.HP.max()

# This code creates a new DataFrame called df_highest_HP which contains
#  all rows from the original df DataFrame where the HP column is equal
#  to the maximum HP value found in step 1. It uses a Boolean indexing 
# technique to achieve this - the condition df.HP == df.HP.max() creates
#  a Boolean Series which is True for all rows where the HP value matches
#  the maximum value, and False otherwise. This Boolean Series is used to
#  index the original DataFrame df, and only the rows where the condition
#  is True are returned and stored in the new DataFrame df_highest_HP.
df_highest_HP = df[df.HP == df.HP.max()]

#This code simply prints the df_highest_HP DataFrame to the console,
#  which contains only the row with the highest HP value.
print(f'Highest HP value present\n',df_highest_HP)

print('\n\n***************Option 2*********************')
# This option is a cleaner version. In the brackets [] input the column name
# in single quotes follow by the max() method. 
max_HP = df['HP'].max()
print(f'\nHighest HP value present (option 2)\n',max_HP)

min_HP = df['HP'].min()
print(f'\nLowest HP value present\n',min_HP)

***************Option 1*********************

Highest HP value present
        #     Name  Type 1 Type 2  Total   HP  Attack  Defense  Sp Atk  Sp Def  \
261  242  Blissey  Normal    NaN    540  255      10       10      75     135

     Speed  Generation  Legendary
261     55           2      False


***************Option 2*********************

Highest HP value present (option 2)
 255

Lowest HP value present
 1

#### 4. Which Pokemon possess(es) the highest HP value?
- note: the `name` column is the pokemon name

In [239]:
print('***************Option 1*********************\n')
# This line finds the highest HP value in the 'HP' column of the dataset and assigns it to the variable max_HP.
max_HP = df['HP'].max()

# Another option
print(df[df.HP == df.HP.max()].Name)

# Another option
print(df[df.HP == df.HP.max()]['Name'])


# 'df.loc[df['HP'] == max_HP, 'Name']' filters the dataset to only include row where
#  the 'HP' column equals max_HP, and selects the 'Name' column. This will return a
#  Series of the name of the Pokemon with the highest HP value.
# 'values[0]' extracts the first (and only) value from the Series, which is the name
#  of the Pokemon with the highest HP value.
pokemon_with_max_HP = df.loc[df['HP'] == max_HP, 'Name'].values[0]

print(f"The pokemon with the highest HP value is '{pokemon_with_max_HP}' with '{max_HP}' HP.")


print('\n***************Option 2*********************\n')
# This option is a very simple answer with the information you need. 

# This code creates a new DataFrame called df_highest_HP which contains
#  all rows from the original df DataFrame where the HP column is equal
#  to the maximum HP value found in step 1. It uses a Boolean indexing 
# technique to achieve this - the condition df.HP == df.HP.max() creates
#  a Boolean Series which is True for all rows where the HP value matches
#  the maximum value, and False otherwise. This Boolean Series is used to
#  index the original DataFrame df, and only the rows where the condition
#  is True are returned and stored in the new DataFrame df_highest_HP.
df_highest_HP = df[df.HP == df.HP.max()]

#This code simply prints the df_highest_HP DataFrame to the console,
#  which contains only the row with the highest HP value.
print(f'Below you can find the name of the pokeman with the highest HP value\n',df_highest_HP)

***************Option 1*********************

261    Blissey
Name: Name, dtype: object
261    Blissey
Name: Name, dtype: object
The pokemon with the highest HP value is 'Blissey' with '255' HP.

***************Option 2*********************

Below you can find the name of the pokeman with the highest HP value
        #     Name  Type 1 Type 2  Total   HP  Attack  Defense  Sp Atk  Sp Def  \
261  242  Blissey  Normal    NaN    540  255      10       10      75     135

     Speed  Generation  Legendary
261     55           2      False

#### 5. How many different types are represented in Type 1? What are they?

In [139]:

# This line will print a summary of the Type 1 column,
#  including count, unique values, top value, and frequency of the top value.
print(f"{df['Type 1'].describe()}\n")


# This line will print an array of all unique values
#  present in the Type 1 column, which represents the different types
#  represented in the column.
print(f"\n{df['Type 1'].unique()}")

count       800
unique       18
top       Water
freq        112
Name: Type 1, dtype: object


['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying']

#### 6. Number of Pokemon whose Type 2 is Ghost

In [151]:
# These lines of code will give you the total amount of rows in
# one column
# t_count = df['Type 1']
# t_count.value_counts(dropna=False)
# 32 ghost

# This line will give you the single value for one row. 
# In this case we are looking for 'Ghost'.
# ghost_count1 = df['Type 1'][df['Type 1'] == 'Ghost'].value_counts()
# # pokemon_with_max_HP = df.loc[df['HP'] == max_HP, 'Name'].values[0]

# print(ghost_count1)

print('******************Option 1************************')
# This will count the Ghost in Type 2
df['Type 2'] == 'Ghost'
df[df['Type 2'] == 'Ghost'].shape[0]
ghost_count = df[df['Type 2'] == 'Ghost'].shape[0]
print(f"Ghost count in Type 2 column '{ghost_count}.'")

print('******************Option 2************************')
# This is a cleaner way to find Ghos in Typy 2 column
# This will filter the DataFrame to include only rows where the Type 2 column is "Ghost",
# and then return the number of rows in the resulting DataFrame,
#  which corresponds to the number of Pokemon whose Type 2 is Ghost.
# Number of Pokemon whose Type 2 is Ghost
ghost_count2 = df[df['Type 2'] == 'Ghost'].shape[0]
print(f"The number of Pokemon whose Type 2 is Ghost is {ghost_count2}.")

******************Option 1************************
14
******************Option 2************************
The number of Pokemon whose Type 2 is Ghost is 14.

#### 7. Percentage of Pokemon whose Type 2 is Ghost

In [152]:
# This code selects all rows where the value in the 'Type 2' column is 'Ghost'.
# The result is a new DataFrame that only contains these rows.
df['Type 2'] == 'Ghost'

# 'shape[0]': This code returns the number of rows in the resulting DataFrame. 
# Since each row represents one Pokemon, this gives us the total number of Pokemon
#  whose Type 2 is 'Ghost'.
ghost_count = df[df['Type 2'] == 'Ghost'].shape[0]

# 'df.shape[0]': This code returns the total number of rows in the original DataFrame,
#  which is the total number of Pokemon.
total_count = df.shape[0]

# '(ghost_count / total_count) * 100': This code calculates the percentage of Pokemon 
#  whose Type 2 is 'Ghost'. It does this by dividing the number of Pokemon whose Type 2
#  is 'Ghost' by the total number of Pokemon, and then multiplying by 100 to convert
#  to a percentage.
ghost_percentage = (ghost_count / total_count) * 100

# '{ghost_percentage:.2f}%': This code uses f-strings to print the percentage with two
#  decimal places, followed by a percent sign.
print(f"The percentage of Pokemon whose Type 2 is Ghost is {ghost_percentage:.2f}%.")

The percentage of Pokemon whose Type 2 is Ghost is 1.75%.

#### 8. Number of Pokemon whose Attack is greater than Defense

In [158]:
# df.head() 

# This creates a boolean mask which is used to select rows from the
# DataFrame where the Attack value is greater than Defense.
df[df.Attack > df.Defense]


# The shape attribute instead of count() to get the number of rows 
# that satisfy the condition. Here's an example:
attck_gt_def = df[df.Attack > df.Defense].shape[0]

# The print will give you the total number of rows where Attack is greater than Defense
print(f"The number of Pokemon whose Attack is greater than Defense is {attck_gt_def}.")

The number of Pokemon whose Attack is greater than Defense is 433.

#### 9. What is the slowest speed for Grass type (either type 1 or type 2)

In [186]:
# print(df.head())
 
# In the first line, we use boolean indexing to select rows where the Type 1 column is 'Grass'.
df['Type 1'] == 'Grass'
df['Type 2'] == 'Grass'

#  In the second line, we further filter the DataFrame to include rows where either 
# the Type 1 or Type 2 column is 'Grass', using the | operator to combine two boolean expressions.
# In the last part the 'Speed' column was selected to filtered the DataFrame,
grass = df[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Grass')]['Speed']

# Use the min() method to find the slowest speed for Grass type. 
slowest_grass_speed = grass.min()

# Print the results
print(f"The slowest speed for Grass type is {slowest_grass_speed}.")

The slowest speed for Grass type is 10.

#### 10. Find the average speed by Generation

In [242]:
# The average speed was group by the 'Generation' column and then
# calculate the mean of the 'Speed' column for each group.
print(df.head())

avg_speed_by_gen = df.groupby('Generation')['Speed'].mean().round(2)

# Print the findings
print(avg_speed_by_gen)

   #                   Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1              Bulbasaur  Grass  Poison    318  45      49       49
1  2                Ivysaur  Grass  Poison    405  60      62       63
2  3               Venusaur  Grass  Poison    525  80      82       83
3  3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4  4             Charmander   Fire     NaN    309  39      52       43

   Sp Atk  Sp Def  Speed  Generation  Legendary
0      65      65     45           1      False
1      80      80     60           1      False
2     100     100     80           1      False
3     122     120     80           1      False
4      60      50     65           1      False
Generation
1    72.58
2    61.81
3    66.92
4    71.34
5    68.08
6    66.44
Name: Speed, dtype: float64

#### 11. How many LEGENDARY Pokemon are DRAGON type?

In [231]:
# print(df['Type 1'].unique())
# # print(df.head())
# print(df['Legendary'].unique())


# This line filters the DataFrame df to only include rows where Legendary is
# True and where either Type 1 or Type 2 is equal to 'Dragon'. The & operator 
# combines two conditions such that both must be true for a row to be included
#  in the filtered DataFrame.
df[(df.Legendary == True) & ((df['Type 1'] == 'Dragon') | (df['Type 2'] == 'Dragon'))]


# The shape returns the number of rows in the filtered DataFrame.
legendary_type1_2_dragons = df[(df.Legendary == True) & ((df['Type 1'] == 'Dragon') | (df['Type 2'] == 'Dragon'))].shape[0]

# This prints the total count of the legendary dragons in both types
print(f"The total number of Dragon type Pokemon in either Type 1 or Type 2 is {legendary_type1_2_dragons}.")

The total number of Dragon type Pokemon in either Type 1 or Type 2 is 16.